.searchbar{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    gap: 20px;
    min-height: 50px;
    padding: 5px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
}

.searchbarForm input{
    min-width: 500px;
    min-height: 40px;
    outline: none;
}